<!--
 == Code editor
 ==================== -->
<section class="app-input">
  <pre class="app-input__editor" app-editor>
// This scrollable area is the code editor with syntax highlighting for Scala.

// Once the application has loaded we can display a sample strategy code here
// so that the user understands immediately what needs to be done.

// Dummy code below:
package examples.actors

import scala.actors.Actor
import scala.actors.Actor._

abstract class PingMessage
case object Start extends PingMessage
case object SendPing extends PingMessage
case object Pong extends PingMessage

abstract class PongMessage
case object Ping extends PongMessage
case object Stop extends PongMessage

object pingpong extends Application {
  val pong = new Pong
  val ping = new Ping(100000, pong)
  ping.start
  pong.start
  ping ! Start
}
  </pre>
  <button class="app-input__submit">Submit strategy</button>
</section>

<!--
 == Evaluation result
 ==================== -->
<section class="app-output">
  This area is the visualization interface.
  <br><br>
  User enters the strategy code in the editor on the left and clicks the submit button.
  <br><br>
  Results are then displayed here as graphs, tables, ...
  <br><br>

  <h2>api/assets</h2>

  <table>
    <tr ng-repeat="asset in appOutput.assets">
      <td>{{ asset.market }}</td>
      <td>{{ asset.currency }}</td>
      <td>{{ asset.asset }}</td>
      <td>{{ asset.ticker }}</td>
      <td>{{ asset.availableDates }}</td>
    </tr>
  </table>

  <h2>api/strategies</h2>

  <table>
    <tr ng-repeat="strategy in appOutput.strategies">
      <td>{{ strategy.name }}</td>
      <td>{{ strategy.parameters.orderSize.type }}</td>
      <td>{{ strategy.parameters.orderSize.value }}</td>
      <td>{{ strategy.parameters.maxPositionSize.type }}</td>
      <td>{{ strategy.parameters.maxPositionSize.value }}</td>
    </tr>
  </table>

</section>
