<!--
 == Code editor
 ==================== -->
<section class="app-input">

  <header class="app-input__header">

    <div class="app-input__control-group">

      <label
       for="marketSelector">
        Market
      </label>
      <select
       id="marketSelector"
       ng-model="appOutput.simulationProps.MIC"
       ng-options="asset.MIC as asset.MIC for asset in appOutput.selectMarkets(appOutput.simulationProps, appOutput.assets) | orderBy:'MIC'">
        <option value="">-- market --</option>
      </select>

      <label
       for="currencySelector">
        Currency
      </label>
      <select
       id="currencySelector"
       ng-model="appOutput.simulationProps.CCY"
       ng-options="asset.CCY as asset.CCY for asset in appOutput.selectCurrencies(appOutput.simulationProps, appOutput.assets) | orderBy:'CCY'"
       ng-disabled="!appOutput.simulationProps.MIC">
        <option value="">-- currency --</option>
      </select>

      <label
       for="tickerSelector">
        Ticker
      </label>
      <select
       id="tickerSelector"
       ng-model="appOutput.simulationProps.ISIN"
       ng-options="asset.ISIN as asset.ticker for asset in appOutput.selectTickers(appOutput.simulationProps, appOutput.assets) | orderBy:'ISIN'"
       ng-disabled="!appOutput.simulationProps.CCY">
        <option value="">-- ticker --</option>
      </select>

      <label
       for="dateSelector">
        Time frame
      </label>
      <select
       id="dateSelector"
       ng-model="appOutput.simulationProps.date"
       ng-options="asset.date as asset.date for asset in appOutput.selectDates(appOutput.simulationProps, appOutput.assets) | orderBy:'date'"
       ng-disabled="!appOutput.simulationProps.ISIN">
        <option value="">-- time frame --</option>
      </select>

    </div>

    <button
     class="app-input__submit"
     ng-click="appOutput.runSimulation(appOutput.simulationProps)"
     ng-disabled="!appOutput.simulationProps.date">
      Run simulation
    </button>

  </header>

  <pre class="app-input__editor" app-editor>
// This scrollable area is the code editor with syntax highlighting for Scala.

// Once the application has loaded we can display a sample strategy code here
// so that the user understands immediately what needs to be done.

// Dummy code below:
package examples.actors

import scala.actors.Actor
import scala.actors.Actor._

abstract class PingMessage
case object Start extends PingMessage
case object SendPing extends PingMessage
case object Pong extends PingMessage

abstract class PongMessage
case object Ping extends PongMessage
case object Stop extends PongMessage

object pingpong extends Application {
  val pong = new Pong
  val ping = new Ping(100000, pong)
  ping.start
  pong.start
  ping ! Start
}
  </pre>
</section>

<!--
 == Evaluation result
 ==================== -->
<section class="app-output">
  This area is the visualization interface.
  <br><br>
  User enters the strategy code in the editor on the left and clicks the submit button.
  <br><br>
  Results are then displayed here as graphs, tables, ...
</section>
