.app-nav
  flex 0 0 17rem
  height 100%
  display flex
  flex-direction column
  background-color lighten(#1c1c1c, 5%)

  // .app-nav__logo
  &__logo
    height 5rem
    padding 0 1rem
    font-size 2.4rem
    line-height 5rem

  // .app-nav__item-list
  &__item-list
    flex 1

  // .app-nav__item
  &__item
    display block
    padding 1rem
    border-left 3px solid transparent

    // .app-nav__item--active
    &--active
      border-left-color #fc803a
      background-color lighten(#1c1c1c, 10%)

  // .app-nav__legal
  &__legal
    padding 1rem
    color darken(#fafafa, 50%)