.app-profile

  // .app-profile__logout-button
  &__logout-button
    display block
    margin 1rem
    padding .5rem 1rem
    border-radius .3rem
    background-color #fc803a
    font-size 1rem
    cursor pointer
