.app-input
  position relative
  flex 0 0 95ex
  display flex
  flex-direction column

  // .app-input__editor
  &__editor
    flex 1
    margin 10px 0

  // .app-input__submit
  &__submit
    position absolute
    padding 10px
    bottom 20px
    right 20px
    border none
    color #fafafa
    background-color #fc803a
    outline none
    cursor pointer
