.app-login
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
  background-color #1c1c1c

  // .app-login__panel
  &__panel
    text-align center

  // .app-login__header-text
  &__header-text
    font-size 3rem

  // .app-login__action-button
  &__action-button
    display block
    margin 1rem
    padding 1rem 2rem
    border-radius .3rem
    background-color #fc803a
    font-size 1.2rem
    cursor pointer
