.panel
  display flex
  flex-direction column
  background-color lighten(#1c1c1c, 5%)

  margin-top 1rem
  &:first-child
    margin-top 0

  // .panel__header
  &__header
    flex 0 0 3rem
    line-height 3rem
    padding 0 1rem
    background-color lighten(#1c1c1c, 10%)
    border-bottom 1px solid lighten(#1c1c1c, 15%)

  // .panel__body
  &__body
    flex 1

    // .panel__body--padded
    &--padded
      padding 1rem
